<h1>Kupibazar.com - совместные покупки</h1>
<h2>Поздравлям всех посетителей нашего сервиса с наступающим новым годом!!!!</h2>
<center>
 <%= image_tag('http://www.detskiy-mir.net/images/fotoprikols/8744_big.jpg') %>
</center>
