<h1>Kupibazar.com - совместные покупки</h1>
<h2>Поздравлям всех посетителей нашего сервиса с наступившим 2014 годом!!!! <br/>
Желаем всем счастья, здоровья и процветания!!!</h2>
<center>
 <%= image_tag('http://www.detskiy-mir.net/images/fotoprikols/8744_big.jpg') %>
</center>
