<h1>Kupibazar.com - совместные покупки</h1>
<h2>Поздравлям всех посетителей нашего сервиса с наступающим новым годом!!!!</h2>
<center>
 <%= image_tag('http://www.animated-gifs.eu/holidays-new-year-uk/90.gif') %>
</center>
