<h1>Kupibazar.com - совместные покупки</h1>
<h2>Поздравлям всех посетителей нашего сервиса с наступившим 2014 годом!!!! <br/>
Желаем всем счастья, здоровья и процветания!!!</h2>
<center>
 <%= image_tag('http://static.colnyshko.ru/big/c937f9ae01b7c59f9c63ec6e72e2e9ba.gif') %>
</center>
