<h1>Страница помощи</h1>
<div align='center'>
  Эту страницу мы постепенно будем пополнять информацией о том, как работает наш вебсервис. </br>
</br>А пока предлагаем просмотреть краткую видеоинструкцию:</br></br>
<iframe width="560" height="315" src="//www.youtube.com/embed/qNpNZJndfrM?rel=0" frameborder="0" allowfullscreen></iframe>
</div>  