<% if @payment.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Количество ошибок: <%= @payment.errors.count %>.
    </div>
    <ul>
    <% @payment.errors.full_messages.each do |msg| %>
      <li> <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
