// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ablc, a.ablc {
  color: black;
  font-weight: bold;
  line-height: 125%;
}
.agrey {
  color: grey;
  font-weight: normal;
  line-height: 125%;
}
.pddl {
  color: #FF8C00;
  font-weight: bold;
  margin-left: 6%;
}
.popover {
	max-width: 450px;
	width: 400px;
}
