<p>Добро пожаловать на Купибазар! <%= @email %>!</p>

<p>Вам необходимо подтвердить Ваш аккаунт перейдя по ссылке:</p>

<p><%= link_to 'Подтвердить мой Аккаунт на kupibazar.com', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>С уважением, команда kupibazar.com</p>