<p>Здравствуйте! <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку на изменение Вашего пароля на kupibazar.com. Вы можете изменить пароль перейдя по ссылке ниже.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если Вы не заказывали изменение пароля, просто проигнорируйте этот емейл.</p>
<p>Ваш пароль не буде изменен до тех пор пока Вы не перейдете по ссылке.</p>

<p>С уважением, команда kupibazar.com</p>