<p>Здравствуйте! <%= @resource.email %>!</p>

<p>Ваш аккаунт на kupibazar.com был заблокирован из-за многочисленного ввода неверного пароля.</p>

<p>Перейдите по ссылке ниже, что бы разблокировать Ваш аккаунт:</p>

<p><%= link_to 'Разблокировать мой аккаунт', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>

<p>С уважением, команда kupibazar.com</p>
