<footer class="footer">
  <small>
    <a href="http://kupibazar.com">Copyright © 2013 kupibazar.com by Alexey S. Brovikov</a>
     | All rights reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contacts", static_pages_contacts_path %></li>
      <li><%= link_to "Forum", 'http://forum.kupibazar.com' %></li>
    </ul>
  </nav>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39162868-1']);
  _gaq.push(['_setDomainName', 'kupibazar.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</footer>
